[submodule "src/VINS-Mono"]
	path = src/VINS-Mono
	url = https://github.com/HKUST-Aerial-Robotics/VINS-Mono
[submodule "src/Pangolin"]
	path = src/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin
[submodule "src/rpy_trajectory_evaluation"]
	path = src/rpy_trajectory_evaluation
	url = https://github.com/uzh-rpg/rpg_trajectory_evaluation
[submodule "src/VINS-Fusion"]
	path = src/VINS-Fusion
	url = https://github.com/HKUST-Aerial-Robotics/VINS-Fusion
[submodule "src/catkin_simple"]
	path = src/catkin_simple
	url = https://github.com/catkin/catkin_simple
[submodule "src/msckf_vio"]
	path = src/msckf_vio
	url = https://github.com/KumarRobotics/msckf_vio
[submodule "src/ORB_SLAM3"]
	path = src/ORB_SLAM3
	url = https://github.com/chutsu/ORB_SLAM3
